In [1]:
import pandas as pd
import re

In [2]:
# Files to load
csnsus_csv = "2019_MEDIAN_VALUE_(DOLLARS)/ACSDT5Y2019.B25077_data_with_overlays_2022-05-29T121557.csv"

# Read the CSV into a DataFrame
csnsus_df = pd.read_csv(csnsus_csv)
csnsus_df

,B25077_001E,B25077_001M,GEO_ID,NAME
0,Estimate!!Median value (dollars),Margin of Error!!Median value (dollars),id,Geographic Area Name
1,1197900,68223,1400000US06001400100,"Census Tract 4001, Alameda County, California"
2,1385400,191210,1400000US06001400200,"Census Tract 4002, Alameda County, California"
3,1053200,121286,1400000US06001400300,"Census Tract 4003, Alameda County, California"
4,1111600,117913,1400000US06001400400,"Census Tract 4004, Alameda County, California"
...,...,...,...,...
8054,222100,23561,1400000US06115040901,"Census Tract 409.01, Yuba County, California"
8055,-,**,1400000US06115040902,"Census Tract 409.02, Yuba County, California"
8056,350400,32898,1400000US06115041000,"Census Tract 410, Yuba County, California"
8057,256200,26184,1400000US06115041100,"Census Tract 411, Yuba County, California"
8058,550000,21888,8600000US90031,ZCTA5 90031

In [3]:
csnsus_df = csnsus_df.drop(labels=0, axis=0)
csnsus_df

,B25077_001E,B25077_001M,GEO_ID,NAME
1,1197900,68223,1400000US06001400100,"Census Tract 4001, Alameda County, California"
2,1385400,191210,1400000US06001400200,"Census Tract 4002, Alameda County, California"
3,1053200,121286,1400000US06001400300,"Census Tract 4003, Alameda County, California"
4,1111600,117913,1400000US06001400400,"Census Tract 4004, Alameda County, California"
5,813800,105558,1400000US06001400500,"Census Tract 4005, Alameda County, California"
...,...,...,...,...
8054,222100,23561,1400000US06115040901,"Census Tract 409.01, Yuba County, California"
8055,-,**,1400000US06115040902,"Census Tract 409.02, Yuba County, California"
8056,350400,32898,1400000US06115041000,"Census Tract 410, Yuba County, California"
8057,256200,26184,1400000US06115041100,"Census Tract 411, Yuba County, California"
8058,550000,21888,8600000US90031,ZCTA5 90031

In [4]:
csnsus_df.dtypes

B25077_001E    object
B25077_001M    object
GEO_ID         object
NAME           object
dtype: object

In [5]:
for column in csnsus_df.columns:
    print(f"Column {column}: {csnsus_df[column].isnull().sum()} null values and type: {type(column)}")

Column B25077_001E: 0 null values and type: <class 'str'>
Column B25077_001M: 0 null values and type: <class 'str'>
Column GEO_ID: 0 null values and type: <class 'str'>
Column NAME: 0 null values and type: <class 'str'>

In [6]:
censustract_df = csnsus_df['GEO_ID'].str.split("1400000US0*", expand=True)
censustract_df

                   0           1
1                     6001400100
2                     6001400200
3                     6001400300
4                     6001400400
5                     6001400500
...              ...         ...
8054                  6115040901
8055                  6115040902
8056                  6115041000
8057                  6115041100
8058  8600000US90031        None

[8058 rows x 2 columns]

In [7]:
csnsus_df['GEO_ID']= censustract_df[1]
csnsus_df.head()

,B25077_001E,B25077_001M,GEO_ID,NAME
1,1197900,68223,6001400100,"Census Tract 4001, Alameda County, California"
2,1385400,191210,6001400200,"Census Tract 4002, Alameda County, California"
3,1053200,121286,6001400300,"Census Tract 4003, Alameda County, California"
4,1111600,117913,6001400400,"Census Tract 4004, Alameda County, California"
5,813800,105558,6001400500,"Census Tract 4005, Alameda County, California"

In [8]:
csnsus_df['GEO_ID'].unique()

array(['6001400100', '6001400200', '6001400300', ..., '6115041000',
       '6115041100', None], dtype=object)

In [9]:
csnsus_df.isna().sum()

B25077_001E    0
B25077_001M    0
GEO_ID         1
NAME           0
dtype: int64

In [10]:
clean_csnsus_df = csnsus_df.dropna(how='any')
clean_csnsus_df.count()

B25077_001E    8057
B25077_001M    8057
GEO_ID         8057
NAME           8057
dtype: int64

In [11]:
clean_csnsus_df.isna().sum()

B25077_001E    0
B25077_001M    0
GEO_ID         0
NAME           0
dtype: int64

In [12]:
clean_csnsus_df = clean_csnsus_df[clean_csnsus_df.B25077_001E != "-"]
print(clean_csnsus_df.shape)
clean_csnsus_df.head()

(7827, 4)

,B25077_001E,B25077_001M,GEO_ID,NAME
1,1197900,68223,6001400100,"Census Tract 4001, Alameda County, California"
2,1385400,191210,6001400200,"Census Tract 4002, Alameda County, California"
3,1053200,121286,6001400300,"Census Tract 4003, Alameda County, California"
4,1111600,117913,6001400400,"Census Tract 4004, Alameda County, California"
5,813800,105558,6001400500,"Census Tract 4005, Alameda County, California"

In [13]:
new_census_df = clean_csnsus_df.loc[clean_csnsus_df["B25077_001E"] != "2,000,000+"]

In [14]:
new_census_df = new_census_df.rename(columns={"B25077_001E": "Estimate_Median_value_(dollars)" ,
                                      "B25077_001M": "Margin_of_Error_Median_value_(dollars)",
                                      "GEO_ID": "CensusTract","NAME": "Geographic_Area_Name"})
print(new_census_df.shape)
new_census_df.head()

(7689, 4)

,Estimate_Median_value_(dollars),Margin_of_Error_Median_value_(dollars),CensusTract,Geographic_Area_Name
1,1197900,68223,6001400100,"Census Tract 4001, Alameda County, California"
2,1385400,191210,6001400200,"Census Tract 4002, Alameda County, California"
3,1053200,121286,6001400300,"Census Tract 4003, Alameda County, California"
4,1111600,117913,6001400400,"Census Tract 4004, Alameda County, California"
5,813800,105558,6001400500,"Census Tract 4005, Alameda County, California"

In [15]:
new_census_df.to_csv("clean_csnsus_2019.csv")