In [1]:
import pandas as pd
import sqlite3

In [6]:
housing_value_df = pd.read_csv("../Clean_Zillow_Data/housing_value_clean.csv",index_col=0)
housing_value_df.head()

,ZIP,CensusTract,SizeRank,RegionName,State,City,CountyName,12/31/2015,12/31/2019
0,96107,6051000102,22,90250,CA,Hawthorne,Los Angeles County,517432.0,672395.0
1,96027,6093000800,44,90046,CA,Los Angeles,Los Angeles County,1267039.0,1474294.0
2,96027,6093000600,44,90046,CA,Los Angeles,Los Angeles County,1267039.0,1474294.0
3,97711,41031960100,88,94501,CA,Alameda,Alameda County,860008.0,1063497.0
4,96015,6049000300,99,90034,CA,Los Angeles,Los Angeles County,1006847.0,1365873.0

In [7]:
# Creates the SQLite Engine
conn = sqlite3.connect('housing_food_access_db.sqlite')

In [8]:
housing_value_df.to_sql('housing_value', conn, if_exists='replace', index=False)

In [9]:
pd.read_sql('select * from housing_value', conn)

,ZIP,CensusTract,SizeRank,RegionName,State,City,CountyName,12/31/2015,12/31/2019
0,96107,6051000102,22,90250,CA,Hawthorne,Los Angeles County,517432.0,672395.0
1,96027,6093000800,44,90046,CA,Los Angeles,Los Angeles County,1267039.0,1474294.0
2,96027,6093000600,44,90046,CA,Los Angeles,Los Angeles County,1267039.0,1474294.0
3,97711,41031960100,88,94501,CA,Alameda,Alameda County,860008.0,1063497.0
4,96015,6049000300,99,90034,CA,Los Angeles,Los Angeles County,1006847.0,1365873.0
...,...,...,...,...,...,...,...,...,...
2849,98402,53053060400,33487,95724,CA,Soda Springs,Placer County,580758.0,663314.0
2850,98402,53053061400,33487,95724,CA,Soda Springs,Placer County,580758.0,663314.0
2851,98402,53053062600,33487,95724,CA,Soda Springs,Placer County,580758.0,663314.0
2852,98402,53053060600,33487,95724,CA,Soda Springs,Placer County,580758.0,663314.0
2853,98402,53053061500,33487,95724,CA,Soda Springs,Placer County,580758.0,663314.0

In [10]:
food_access_2015_df = pd.read_csv("../Recourses/Food_access/FoodAccess2015_clean.csv",index_col=0)
food_access_2015_df.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractLOWI,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
3558,6001400100,California,Alameda,1,2937,1314,0,2,0.000681,0,...,173,2161,142,456,9,4,165,117,0,0
3559,6001400200,California,Alameda,1,1974,856,0,70,0.035461,0,...,161,1659,33,147,0,4,131,151,57,6
3560,6001400300,California,Alameda,1,4865,2418,0,40,0.008222,0,...,781,3468,518,423,5,17,434,399,354,34
3561,6001400400,California,Alameda,1,3703,1779,0,33,0.008912,0,...,672,2628,456,278,6,14,321,332,159,9
3562,6001400500,California,Alameda,1,3517,1578,0,126,0.035826,0,...,924,1905,955,209,5,27,416,340,258,72

In [11]:
food_access_2015_df.to_sql('food_access_2015', conn, if_exists='replace', index=False)

In [12]:
pd.read_sql('select * from food_access_2015', conn)

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractLOWI,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,6001400100,California,Alameda,1,2937,1314,0,2,0.000681,0,...,173,2161,142,456,9,4,165,117,0,0
1,6001400200,California,Alameda,1,1974,856,0,70,0.035461,0,...,161,1659,33,147,0,4,131,151,57,6
2,6001400300,California,Alameda,1,4865,2418,0,40,0.008222,0,...,781,3468,518,423,5,17,434,399,354,34
3,6001400400,California,Alameda,1,3703,1779,0,33,0.008912,0,...,672,2628,456,278,6,14,321,332,159,9
4,6001400500,California,Alameda,1,3517,1578,0,126,0.035826,0,...,924,1905,955,209,5,27,416,340,258,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8039,6115040800,California,Yuba,0,4233,1492,0,4,0.000945,0,...,1285,3289,44,213,5,77,605,713,118,227
8040,6115040901,California,Yuba,0,2783,968,0,12,0.004312,0,...,1421,1997,31,297,2,75,381,476,41,140
8041,6115040902,California,Yuba,0,1737,385,0,413,0.237766,0,...,538,1262,167,66,9,34,199,247,13,33
8042,6115041000,California,Yuba,0,7357,2802,0,0,0.000000,0,...,1889,6179,57,181,9,156,775,916,56,261
8043,6115041100,California,Yuba,0,4941,2105,0,5,0.001012,0,...,2064,4287,30,59,13,189,363,314,17,155