In [25]:
import geopy
import pandas as pd

In [26]:
df = pd.read_csv("WholeFoodsLocations.csv")
del df['Unnamed: 0']
df.head()

,store_name,address,lat,lng
0,Whole Foods Market,"711 University Ave, San Diego",32.747879,-117.158000
1,Whole Foods Market,"8825 Villa La Jolla Dr, La Jolla",32.868740,-117.230626
2,Whole Foods Market,"2600 Via De La Valle Ste 100, Del Mar",32.981151,-117.251966
3,Whole Foods Market,"44-459 Town Center Way, Palm Desert",33.725368,-116.399803
4,Whole Foods Market,"7871 Santa Monica Blvd, West Hollywood",34.091521,-118.360766

In [27]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']

geolocator = geopy.Nominatim(user_agent="http")

new_df = pd.DataFrame(df)
zipcodes = new_df.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='lat', lon_field='lng')

In [28]:
new_df['zip'] = zipcodes
new_df

,store_name,address,lat,lng,zip
0,Whole Foods Market,"711 University Ave, San Diego",32.747879,-117.158000,92103
1,Whole Foods Market,"8825 Villa La Jolla Dr, La Jolla",32.868740,-117.230626,92037
2,Whole Foods Market,"2600 Via De La Valle Ste 100, Del Mar",32.981151,-117.251966,92075
3,Whole Foods Market,"44-459 Town Center Way, Palm Desert",33.725368,-116.399803,92260-3306
4,Whole Foods Market,"7871 Santa Monica Blvd, West Hollywood",34.091521,-118.360766,90046
...,...,...,...,...,...
83,Whole Foods Market,"1181 Yulupa Ave, Santa Rosa",38.442316,-122.674629,95405
84,Whole Foods Market,"6910 McKinley St, Sebastopol",38.403829,-122.824017,95472
85,Whole Foods Market,"390 Coddingtown Mall, Santa Rosa",38.457885,-122.731388,95401
86,Whole Foods Market,"621 E Washington St, Petaluma",38.241279,-122.634559,94952
87,Whole Foods Market,"790 De Long Ave, Novato",38.105933,-122.565592,94945

In [29]:
new_df['zip'].unique()

array(['92103', '92037', '92075', '92260-3306', '90046', '90036', '91784',
       '92677', '92710', '90505', '92618', '900014', '92870', '90803',
       '92652', '90039-2720', '92647', '92660', '90846', '92646', '91105',
       '90291', '90066-3941', '90094', '90245', '90404', '91522', '90024',
       '90073', '91403', '91365', '91207', '91355', '91326', '90210',
       '90403', '91360', '90254', '90265-4797', '93036', '951251',
       '95126', '95032', '94086', '93940', '95014-2107', '94022', '95118',
       '95054', '95060-4619', '95010', '93105', '93740', '93405', '96150',
       '89502', '95661', '95630', '95864', '94588', '94536', '94583',
       '94164', '94301', '94403', '94103', '94017', '94114', '94062',
       '94596', '1355', '95498', '94941', '94612', '94705', '94549',
       '94609', '94710', '94901', '94558', '95476', '95405', '95472',
       '95401', '94952', '94945'], dtype=object)

In [30]:
zip_df = new_df['zip'].str.split("-", expand=True)

In [31]:
zip_df.head()

       0     1
0  92103  None
1  92037  None
2  92075  None
3  92260  3306
4  90046  None

In [32]:
new_df['zip']=zip_df[0]
new_df.head()

,store_name,address,lat,lng,zip
0,Whole Foods Market,"711 University Ave, San Diego",32.747879,-117.158000,92103
1,Whole Foods Market,"8825 Villa La Jolla Dr, La Jolla",32.868740,-117.230626,92037
2,Whole Foods Market,"2600 Via De La Valle Ste 100, Del Mar",32.981151,-117.251966,92075
3,Whole Foods Market,"44-459 Town Center Way, Palm Desert",33.725368,-116.399803,92260
4,Whole Foods Market,"7871 Santa Monica Blvd, West Hollywood",34.091521,-118.360766,90046

In [33]:
new_df['zip'].unique()

array(['92103', '92037', '92075', '92260', '90046', '90036', '91784',
       '92677', '92710', '90505', '92618', '900014', '92870', '90803',
       '92652', '90039', '92647', '92660', '90846', '92646', '91105',
       '90291', '90066', '90094', '90245', '90404', '91522', '90024',
       '90073', '91403', '91365', '91207', '91355', '91326', '90210',
       '90403', '91360', '90254', '90265', '93036', '951251', '95126',
       '95032', '94086', '93940', '95014', '94022', '95118', '95054',
       '95060', '95010', '93105', '93740', '93405', '96150', '89502',
       '95661', '95630', '95864', '94588', '94536', '94583', '94164',
       '94301', '94403', '94103', '94017', '94114', '94062', '94596',
       '1355', '95498', '94941', '94612', '94705', '94549', '94609',
       '94710', '94901', '94558', '95476', '95405', '95472', '95401',
       '94952', '94945'], dtype=object)

In [34]:
new_df.loc[new_df["zip"] == "1355"]

,store_name,address,lat,lng,zip
71,Whole Foods Market,"2085 Diamond Blvd Ste 125, Concord",37.974105,-122.058798,1355

In [37]:
new_df.loc[new_df["zip"] == "900014"]

,store_name,address,lat,lng,zip
11,Whole Foods Market,"788 S Grand Ave, Los Angeles",34.045694,-118.257229,900014

In [42]:
new_df.loc[new_df["zip"] == "900014"] = "90014"

In [59]:
new_df.loc[new_df["zip"] == "951251"]

,store_name,address,latitude,longitude,zip
41,Whole Foods Market,"1690 S Bascom Ave, Campbell",37.293213,-121.930334,951251

In [61]:
new_df.loc[new_df["zip"] == "951251"] = "95008"

In [62]:
new_df = new_df.loc[new_df["zip"] != "89502"]

In [63]:
new_df['zip'].unique()

array(['92103', '92037', '92075', '92260', '90046', '90036', '91784',
       '92677', '92710', '90505', '92618', '90014', '92870', '90803',
       '92652', '90039', '92647', '92660', '90846', '92646', '91105',
       '90291', '90066', '90094', '90245', '90404', '91522', '90024',
       '90073', '91403', '91365', '91207', '91355', '91326', '90210',
       '90403', '91360', '90254', '90265', '93036', '95008', '95126',
       '95032', '94086', '93940', '95014', '94022', '95118', '95054',
       '95060', '95010', '93105', '93740', '93405', '96150', '95661',
       '95630', '95864', '94588', '94536', '94583', '94164', '94301',
       '94403', '94103', '94017', '94114', '94062', '94596', '94520',
       '95498', '94941', '94612', '94705', '94549', '94609', '94710',
       '94901', '94558', '95476', '95405', '95472', '95401', '94952',
       '94945'], dtype=object)

In [64]:
new_df = new_df.rename(columns={"lat": "latitude" ,"lng": "longitude"})
new_df

,store_name,address,latitude,longitude,zip
0,Whole Foods Market,"711 University Ave, San Diego",32.747879,-117.158,92103
1,Whole Foods Market,"8825 Villa La Jolla Dr, La Jolla",32.86874,-117.230626,92037
2,Whole Foods Market,"2600 Via De La Valle Ste 100, Del Mar",32.981151,-117.251966,92075
3,Whole Foods Market,"44-459 Town Center Way, Palm Desert",33.725368,-116.399803,92260
4,Whole Foods Market,"7871 Santa Monica Blvd, West Hollywood",34.091521,-118.360766,90046
...,...,...,...,...,...
83,Whole Foods Market,"1181 Yulupa Ave, Santa Rosa",38.442316,-122.674629,95405
84,Whole Foods Market,"6910 McKinley St, Sebastopol",38.403829,-122.824017,95472
85,Whole Foods Market,"390 Coddingtown Mall, Santa Rosa",38.457885,-122.731388,95401
86,Whole Foods Market,"621 E Washington St, Petaluma",38.241279,-122.634559,94952
87,Whole Foods Market,"790 De Long Ave, Novato",38.105933,-122.565592,94945

In [65]:
for column in new_df.columns:
    print(f"Column {column}: {new_df[column].isnull().sum()} null values and type: {type(column)}")

Column store_name: 0 null values and type: <class 'str'>
Column address: 0 null values and type: <class 'str'>
Column latitude: 0 null values and type: <class 'str'>
Column longitude: 0 null values and type: <class 'str'>
Column zip: 0 null values and type: <class 'str'>

In [66]:
new_df.to_csv("whole_food_locations_zip.csv")